version: "3"

services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cafe-moa
    environment:      
      - RUNNING_ENV=local
      - TZ=Asia/Seoul
    volumes:
    - ./:/webapp/server/
    ports:
      - "8001:80"